Qr49/Makefile
Qr49/Qr49.pro.user
Qr49/translations/qr49_ru.qm
Qr49/build
libtoxic/Makefile
libtoxic/libtoxic.pro.user
libtoxic/build
cr49/Makefile
cr49/cr49.pro.user
cr49/build
Makefile
r49.pro
r49.pro.user
r49-bin
