Qr49/Makefile
Qr49/Qr49.pro.user
Qr49/build/
Qr49/qrc_qr49.cpp
Qr49/ui_abcspeedscalcdialog.h
Qr49/ui_checkoutdatadialog.h
Qr49/ui_elrsmokecalcdialog.h
Qr49/ui_filtermassdialog.h
Qr49/ui_helpdialog.h
Qr49/ui_preferencesdialog.h
Qr49/ui_qr49.h
Qr49/ui_valuedialog.h
libtoxic/Makefile
libtoxic/build/
libtoxic/libtoxic.pro.user
